@model AirBnB.Models.City

@{
    ViewData["Title"] = "Details";
}

<div class="info">
    <div class="container">
        <div class="row details">
            <div class="col-8 image">
                <img src="/CityImgs/@Model.CityImg" alt="">
            </div>
            <div class="col-4 text align-self-center">
                <h1>@Model.CityName</h1>
                <a asp-action="Index">Back To List</a>
                <a asp-action="Edit" asp-route-id="@Model.CityId">Edit</a>
            </div>
        </div>
    </div>
</div>
