@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Index";
}
<div class="container" style="text-align:center">

    <h1>Roles</h1>
    <partial name="_RoleForm" model="new RoleFormViewModel()" />
    <table class="table table-striped">
        <thead>
            <tr class="bg-primary text-white">
                <th>Id</th>
                <th>Role Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*add script that used jquert library to make clint side validation*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



