@model AirBnB.Models.Categoray

@{
    ViewData["Title"] = "Create";
}

<div class="edit">
    <form asp-action="Create" enctype="multipart/form-data">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*================================================================*@
        <label class="lblName" for="Name">Add The Categoray Name</label>
        <br>
        <input asp-for="CategorayName" type="text" id="Name">
        <span asp-validation-for="CategorayName" class="text-danger"></span>
        @*================================================================*@
        <div class="upload-img">
            <label class="lblImg">Add The Categoray Image</label>
            <br>
            <input type="file" id="file-1" accept="image/*" name="imgFile">

            <label for="file-1" id="file-1-preview">
                <img src="https://bit.ly/3ubuq5o" alt="Categoray Image">
                <span>+</span>
            </label>
        </div>
        @*================================================================*@
        <input type="submit" value="Add">
        @*================================================================*@
        <a class="backLink" asp-action="Index">Back</a>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
