@model AirBnB.Models.Booking

@{
    ViewData["Title"] = "Create";
}
<div class="bodyofbooking row">
   @* <div class="col-md-7">
    </div>*@
    <div class="col-4">
        <h1 class="stylefont">
            Create memories that you will cherish for a lifetime while enjoying a world of
            unmatched luxury, serenity and exclusivity await you at our outstanding resorts
        </h1>
    </div>
    <!-- Reservationform -->
    <div class="col-8" >
        @if (ViewBag.flag == false)
        {
            <div class="alert alert-danger" role="alert">
                <h3>wrong</h3>
            </div>
        }
        <form asp-action="Create">
            <div class="container stylefont">
                <div class="col-md-5  border rounded  shadow-lg p-3 mb-5 row    ">

                    <div class="col-md-6">
                        <h3>Reservationform</h3>
                    </div>
                    <div class="col-md-6">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                    <br><br>
                    <hr>
                    <div class="form-group">

                        <input asp-for="AppUserId" class="form-control" value='@ViewData["userid"]' type="hidden" />
                    </div>
                    <div class="form-group">
                        <input asp-for="PropertyId" class="form-control" value='@ViewData["SelectedPropertyId"]' type="hidden" />
                    </div>
                    <div class="input-group-prepend" style=" font-size: small;">
                        <label>CHECK IN</label> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                        <label>CHECK OUT</label><br>
                    </div>
                    <div class="input-group">
                        <input class="form-control" asp-for="CheckInDate" type="date" placeholder="dd-mm-yyyy"  />
                        <input class="form-control" asp-for="CheckOutDate" type="date" placeholder="dd-mm-yyyy" />
                    </div>
                    <br>
                    <div class="form-group ">
                        <label>Number of Guests</label><br>
                        <select class="custom-select w-100 " asp-for="BookingCapacity">
                            @for (int i = 1; i <= (int)ViewData["PropertyCapacity"]; i++){
                                <option value="@i">@i</option>
                            }
                        </select><br>
                    </div>
                
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-lg mt-3 w-100">Submit</button>
                    </div>
                </div>
        </form>
       
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
