
@{
}
<div class="bodyofbooking row">
    @* <div class="col-md-7">
    </div>*@
    <div class="col-4">
        <h1 class="stylefont">
            Create memories that you will cherish for a lifetime while enjoying a world of
            unmatched luxury, serenity and exclusivity await you at our outstanding resorts
        </h1>
    </div>
    <!-- Reservationform -->
    <div class="col-8">
          
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

