@{
    ViewData["Title"] = "Home Page";
}
@model List<City>
<!-- Start Landing -->
<div class="landing">
    <div class="container">
        <div class="selection">
            <h3>Hello , Select Your Destination</h3>
            <form asp-action="ShowArea" method="post" >
                <select name="cityid">
                @foreach (var item in Model)
                {
                   <option  value="@item.CityId">@item.CityName</option> 
                }
            </select>
            <input type="submit" value="confirm"/>
            </form>
        </div>
        <div class="image">
            @*<img src="~/CityImgs/Airplane.png" alt="">*@
        </div>
    </div>
    <a href="#Details" class="go-down">
        <i class="fas fa-angle-double-down fa-2x"></i>
    </a>
</div>
<!-- End Landing -->

<!-- Start Details -->
<div class="Details" id="Details">
    <div class="container">
        <div class="main-heading">
            <h2>More Details</h2>
        </div>
    </div>
    <div class="imgs-container">
        @foreach (var item in Model)
        {
            <div class="box">
                <img src="~/CityImgs/@item.CityImg" alt="">
                <div class="caption">
                    <h4>@item.CityName</h4>
                    <p><a asp-action="ShowAreaGet" asp-route-id="@item.CityId">Areas...</a></p>
                </div>
            </div>
        }
    </div>
</div>
<!-- End Details-->
