@model List<Area>


<!-- Start Details -->
<div class="Details" id="Details">
    <div class="container">
        <div class="main-heading">
            <h2>@ViewBag.CityName</h2>
        </div>
    </div>
    <div class="imgs-container">
        @foreach (var item in Model)
        {
            <div class="box">
                <img src="~/AreaImgs/@item.AreaImg" alt="@item.AreaName" class="h-100">
                <div class="caption">
                    <h4>@item.AreaName</h4>
                    <p><a asp-controller="Properties" asp-action="ShowProp" asp-route-id="@item.AreaId">Properties...</a></p>
                </div>
            </div>
        }
    </div>
</div>
<!-- End Details-->
